<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anew">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img_1"
        android:label="Wanderly"
        android:roundIcon="@mipmap/img_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.New"
        tools:targetApi="31">
        <activity
            android:name=".PlaceAdapter_2"
            android:exported="false" />
        <activity
            android:name=".PlaceAdapter"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" /> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" /> <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" /> <!-- Map Activity -->
        <activity
            android:name=".KartaActivity"
            android:exported="true" /> <!-- MapActivity -->
        <activity
            android:name=".MapActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3aOclf9YRAKK9D0VfQPp0NLsGDCJ9xFU" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>